@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@100;300;400;500;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    background-color: white;
    color: white;
    font-family: 'Robot', Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 300;
    text-rendering: optimizeLegibility;
}
.clearfix {zoom: 1;}
.clearfix::after{
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}
h1{
    margin: 0;
    font-size: 200%;
    font-weight: 600;
    padding-top: 30px;
    color: rgb(223, 211, 211);
}




/*!!!!!!!!!!!!!Contact-us!!!!!!!!!!!!!!!*/




#contact_us{
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../img/contact-us-img.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 600px;
    width: 100%;
}
#contact_us .mytext{
    
    position: relative;
    width: 40%;
    left: 27.5%;
    margin-top: 8px;

}
#contact_us .mytext h1{
 font-size: 1.8rem;
 font-weight: 400;
}
#contact_us .mytext h3{
    margin: 0;
    font-size: 1rem;
    font-weight: 400;
    padding: 20px 60px 0 0;
    color: #afb2b4;
}
.contact-form{
    width: 50%;
    margin: 18px auto;
    
}


input[type=text],
input[type=email],
textarea{
    width: 90%;
    padding: 10px;
    border-radius: 3px;
    border: 1px solid #ccc;
    margin-left: 5%;
    margin-top: 7px;
}
textarea{
    height: 100px;
    font-size: .8rem;
}
#name, #email{
    height: 50px;
    font-size: 1rem;
    letter-spacing: 4px;
}
.contact-btn .btn{
    text-align: center;
    padding-left: 60px;
}
.contact-btn .btn:hover{
    color: #fff; 
}



/*!!!!!!!!!!!!!!!!! ABOUT ME !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/

#about{
    background-color: rgb(226, 217, 217);
}

#about .big-text{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;
    position: relative;
    left: 40%;
}
#about .big-text h1{
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(87, 82, 82);
    margin-top: 40px;
    
}
#about .big-text h1::after{
    display: block;
    height: 2px;
    background-color: #e67e22;
    content: " ";
    width: 100px;
    margin: 0 auto;
    margin-top: 50px;
    position: relative;
    right: 50%;
}
#about .main-about{
    display: flex;
    flex-direction: row;
    height: 70%;
}
.main-about .myprofile{
    width: 50%;
   padding: 50px 90px 0 100px;
   
}
.main-about .myprofile h3{
   margin-left: 30%;
   color: rgb(27, 25, 25);
   
}
.main-about .myprofile h4{
    text-align: center;
    color: rgb(68, 65, 65);
    line-height: 25px;
    margin-top: 10px;
    font-size: .9rem;  
}
.main-about .myprofile h4 a{
    text-decoration: none;
    color: rgb(8, 132, 136);
}
.main-about .myprofile h4 a:hover{
    color: rgb(20, 97, 197);
}
.myprofile img{
    margin-left: 30%;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    margin-bottom: 20px;
}
.main-about .myskills{
    width: 50%;
    margin-top: 50px;
}

.main-about .myskills h3{
    font-size: 1.3rem;
    line-height: 40px;
    background-color: rgb(0, 161, 167);
    margin-top: 7px;
    width: 70%;
    border-radius: 4px;
    padding-left: 15px;
    box-shadow: 1px 2px 6px rgb(3, 99, 102);;

}


/*!!!!!!!!!!!!!!!!!!!!BLOG!!!!!!!!!!!!!!!!!!!!!*/






